<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="td.com.xiaoheixiong">

    <!-- 允许应用程序更改主屏幕中的设置和快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 允许应用访问联系人通讯录信息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写入联系人，但不可读取 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 通过WiFi或移动基站的方式获取用户错略的经纬度信息，定位精度大概误差在30~1500米 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 重新排序系统Z轴运行中的任务 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- 允许程序获取当前或最近运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前WiFi接入的状态以及WLAN热点的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变网络状态如是否能联网 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 获取当前活动的activity与实例的方法 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- <uses-permission android:name="android.permission.SET_DEBUG_APP" /> -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- since 1.6.0 -->
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".Utils.BNaviDemoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="td.com.xiaoheixiong.fileprovider"
            android:exported="false"

            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.ViewPagerMainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MerchantsGatheringActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SelectCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.selectMechatsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FuzzySearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterAActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RetrievePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LetterSortActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.IntegralWebViewActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.VersionMsgActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.TiedCardRealNameActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ChooseBankActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ImagePagerActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LocationDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="地图定位"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="OLOECah0APUWNGyNDmmmbeoBx2u0i59P" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />


        <!-- 蒲公英sdk必选-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="75912ac287e97ba128a71add0e56121d"></meta-data>

        <receiver
            android:name=".mpush.MPushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.mpush.HEALTH_CHECK" />
                <action android:name="com.mpush.NOTIFY_CANCEL" />
            </intent-filter>
        </receiver>

        <service
            android:name=".mpush.MPushService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".mpush.MPushFakeService" />

        <receiver
            android:name=".mpush.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mpush.MESSAGE_RECEIVED" /> <!-- 收到PUSH消息 -->
                <action android:name="com.mpush.KICK_USER" /> <!-- 收到踢人消息 -->
                <action android:name="com.mpush.CONNECTIVITY_CHANGE" /> <!-- 收到链接变化 -->
                <action android:name="com.mpush.HANDSHAKE_OK" /> <!-- 收到握手成功消息 -->
                <action android:name="com.mpush.BIND_USER" /> <!-- 收到绑定用户消息 -->
                <action android:name="com.mpush.UNBIND_USER" /> <!-- 收到解绑用户消息 -->


                <!-- 此值要改为自己的应用的applicationId  @see MPushService -->
                <category android:name="com.mpush.android" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MerchatTypesActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.SettingActivity" />
        <activity
            android:name=".activity.AppraiseActivity"
            android:label="@string/title_activity_appraise"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.BindWeixinMobileActivity" />
        <activity android:name=".activity.BussinessInfoActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.AppraiseInfoActivity" />
        <activity android:name=".activity.BankInfoChangeActivity" />
        <activity android:name=".activity.SetOrChangePayPwdActivity" />
        <activity android:name=".activity.GetbackPayPasswordActivity" />
        <activity android:name=".activity.CollectionCodeActivity" />
        <activity android:name=".activity.MerMarkDetailsActivity" />
        <activity android:name=".activity.MiaomiaoDetailsActivity" />
        <activity android:name=".activity.DianPuShangPinActivity" />
        <activity android:name=".activity.MechatDetailsActivity" />


        <activity android:name=".activity.MyHeadLineActivity" />
        <activity android:name=".activity.AddHeadLineActivity" />

        <activity android:name=".activity.MarketingActivity" />
        <activity android:name=".activity.AddMarkingActivity" />

        <activity android:name=".activity.TuanTuanDetalActivity" />
        <activity android:name=".activity.MiaoMiaoDetalActivity" />
        <activity android:name=".activity.TransmitHeadlinActivity" />

        <activity android:name=".activity.HeadLineDetalctivity" />

        <activity android:name=".activity.MyMemberActivity" />
        <activity android:name=".activity.AgentEarnsActivity" />
        <activity android:name=".activity.MyAccountActivity" />



        <!-- ImagePicker 相关配置 -->
        <activity android:name="td.com.xiaoheixiong.imagepicker.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>



        <activity
            android:name=".activity.BaoXiangActivity"
            android:exported="true"
            android:theme="@style/translucents"></activity>
    </application>

</manifest>